.gift-cards-container {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    .gift-cards-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 0 60%;
        width: 60%;
        margin-top: 20px;

        .search-row {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            .input-col {
                svg {
                    position: relative;
                    left: 22px;
                    top: 3px;
                    margin-left: -20px;
                }
                .input {
                    padding-left: 22px;
                }
            }
        }
        .list-row {
            width: 100%;
            background-color: #edf1f7;
            height: 60vh;
            .list-card {
                .body {
                    height: 60vh;
                    overflow-y: auto;
                }
            }

            .cut-card {
                .body {
                    height: 45vh;
                }
            }


            .warning-card{
              height: 45vh;
            }
        }

        .add-gift-card-row {
            width: 100%;
            margin: 10px 0;
            .input, .select {
                width: 95%;
                margin-top: 5px;
            }
        }
    }
}

.add-button,
.save-card-btn {
    padding: 8px 13px;
    background-color: #dc3545;
    border-color: #dc3545;
    border: 1px solid #dc3545;
    border-radius: 0.25rem;
    color: #ffffff;
    font-weight: bold;
    float: right;

    &:hover {
        background-color: #e4606d;
        border-color: #e4606d;
    }
}
